<ul class="nav nav-list">
  <li class="nav-header">Models</li>
  {{#each models}}
    {{#if active}}
      <li class="active"><a href="#">{{name}}</a></li>
    {{else}}
      <li><a href="{{path}}">{{name}}</a></li>
    {{/if}}
  {{/each}}
</ul>
