@import 'nib';

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.daos {
  &.index {
    .actions {
      span {
        display: block;
        cursor: pointer;
      }
    }
  }
}

.modal {
  width: 800px;
  margin-left: -400px;
  position: absolute;
  top: 50px;
  margin-top: 0px;

  .modal-body {
    max-height: none;
  }
}

.datetime {
  width: 40px;
  margin-left: 10px;
}
