<h2>
  <%= tableName %>

  <div class="pull-right dao-factory-actions" data-table-name="<%= tableName %>">
    <span class="btn btn-primary btn-small pull new">New</span>
  </div>
</h2>

<table class="table table-striped table-bordered">
  <tr>
    <% attributeNames.forEach(function(key) { %>
      <% if (key !== 'daoFactory') { %>
        <th><%= key %></th>
      <% } %>
    <% }) %>
    <th>Actions</th>
  </tr>
  <% daos.forEach(function(dao) { %>
    <tr data-id="<%= dao.id %>" data-table-name="<%= tableName %>">
      <% attributeNames.forEach(function(key) { %>
        <% if (key !== 'daoFactory') { %>
          <td><%= dao.get(key) %></td>
        <% } %>
      <% }) %>
      <td width="80" class="actions">
        <span class="edit"><i class="icon-edit"></i> Edit</span>
        <span class="delete"><i class="icon-trash"></i> Delete</span>
      </td>
    </tr>
  <% }) %>
</table>
